ul {color: blue;
    font-size: 50px;

    }


li {color: red;
    font-size: 50px;
    font-weight: bold;
    }

img {
	float: right;
    }

.image {
	    float: right;
	    margin: 50px;
	    
	    }

