<html>
<head>
   <link rel="stylesheets" href="/public/stylesheets/main.css">

   <title>RecipeBookApp</title>

</head>
   
<body>

    <h1 style = "color: purple; font-size: 100px; margin-left: 170px">Mathilda'sRecipebook</h1>

    <div class = "boxed">
    </div>


    <div id= "content">

    <%=yield%>
    
    </div>
</body>
</html>