<html>
<head>
   <link rel="stylesheet" href="/stylesheets/main.css">
   <%= yield_content :assets %>
      <title>Mathilda'sRecipeBookApp</title>
</head>
   
<body>
    
    <h1 style = "color: purple; font-size: 100px; margin-left: 100px">Mathilda's Recipebook<img src = "http://digital-edition.net/wp-content/uploads/2011/06/Book-icon-gif.gif"/></h1>

   <!--  <img src = "http://digital-edition.net/wp-content/uploads/2011/06/Book-icon-gif.gif"/> -->

    <div class = "image">
    <img src = "http://agodlyheritage.org/monica_blog/wp-content/uploads/2010/06/french-bread.jpg"/>
    </div>
   <!--  <img src = "http://ichef.bbci.co.uk/food/ic/food_16x9_608/recipes/perfectpizzadough_72456_16x9.jpg"/>
    <img src = "http://2.bp.blogspot.com/-NZsN2E-4A50/TZhesesBwvI/AAAAAAAAAHY/oKJ4FbgeUTk/s1600/crispy+duck.jpg"/>
    </div> -->
    

    <div id= "content">

    <%=yield%>
    </div>
</body>
</html>